# Python Environment
ml_classifier.egg-info
__pycache__
build
.conda
.streamlit

# Data
data/**/*.csv

# Models
models/*.joblib

# Artifacts
*.joblib

# Metrics
metrics/*.json

# Mlflow
mlruns

# Environment
.env